{% extends 'layout/layout.twig' %}

    {% block content %}
<div class="container">
    <h2 class="mt-5">Listes des articles publiés:</h2>
    <div class="row mt-4">
        {% for post in posts %}
            <div class="col-md-6 mb-4">
                <div class="card custom-card">
                    <div class="card-body">
                        <h2 class="card-title text-black-50">{{ post.title }}</h2>
                        <p class="card-text text-black-50">{{ post.content }}</p>
                        <a href="index.php?method=show&controller=PostController&postId={{ post.id }}">Afficher plus...</a>
                    </div>
                    {% if comment is defined  %}
                        {% for comment in comment %}
                            <div class="comment">
                                <h4 class="card-title text-black-50">{{ comment.title }}</h4>
                                <p class="card-text text-black-50">{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<style>
        h2, h3 {
        color: #333;
        }
        .custom-card {
        background-color: #9AC8EB;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s, box-shadow 0.3s;
        }
        .custom-card:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
</style>
{% endblock %}

