{% extends 'layout/layout.twig' %}
{% block content %}
    <div class="container">
        <h2 class="mt-5">Bonne lecture!</h2>
        <div class="row mt-4">
            <div class="col-md-6 mb-4">
                <div class="card custom-card">
                    <div class="card-body">
                        <h3 class="card-title text-black-40">{{ post.title }}</h3>
                        <p class="card-text text-black-40">{{ post.content }}</p>
                        {% if commentsByPost[post.id] is defined %}
                            <div class="comments mt-3">
                                {% for comment in commentsByPost[post.id] %}
                                    <div class="card comment-card mb-2">
                                        <div class="card-body">
                                            <p class="card-text">{{ comment.content }}</p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <p class="mb-0">{{ comment.username }}</p>
                                            <p class="mb-0">{{ comment.creation_date|date('d/m/Y H:i') }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if session['role'] is defined and session['role'] == "admin" %}
                            <a href="index.php?method=update&controller=PostController&postId={{ post.id }}"
                               type="submit" class="btn btn-primary">Modifier</a>
                            <a href="index.php?method=deletePost&controller=PostController&postId={{ post.id }}"
                               type="submit" class="btn btn-outline-danger mb">Supprimer</a>
                        {% endif %}
                        {% if session['role'] is defined %}
                            <a href="index.php?method=addComment&controller=CommentController&postId={{ post.id }}"
                               type="submit" class="btn btn-primary">Commenter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        h2, h3 {
            color: #333;
        }

        .custom-card {
            background-color: #9AC8EB;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .custom-card:hover {
            transform: scale(1.02);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .comment-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}