{% extends 'layout/layout.twig' %}
{% block content %}
    <div class="container text-center">
        <h2 class="mt-5">Bonne lecture!</h2>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-6 mb-4">
                <div class="card custom-card">
                    <div class="card-body">
                        <h3 class="card-title text-black-40">{{ post.title }}</h3>
                        <h4 class="card-title text-black-40">{{ post.intro }}</h4>
                        <p class="card-text text-black-40">{{ post.content }}</p>
                        <p class="card-text text-black-40">{{ post.author }}</p>
                        {% if commentsByPost is defined %}
                            <div class="comments mt-3">
                                {% for comment in commentsByPost %}
                                        <div class="card comment-card mb-2 m-lg-2">
                                            <p class="mb-0 m-lg-2">{{ comment.username }}</p>
                                            <p class="card-text m-lg-2">{{ comment.content }}</p>
                                            <p class="mb-0 m-lg-2">{{ comment.creation_date|date('d/m/Y H:i') }}</p>
                                        </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if session['role'] is defined and session['role'] == "admin" %}
                            <input type="hidden" name="csrf" value="{{ csrf }}">
                            <a href="index.php?method=update&controller=PostController&postId={{ post.id }}"
                               type="submit" class="btn btn-primary">Modifier</a>
                            <input type="hidden" name="csrf" value="{{ csrf }}">
                            <a href="index.php?method=deletePost&controller=PostController&postId={{ post.id }}"
                               type="submit" class="btn btn-outline-danger mb">Supprimer</a>
                        {% endif %}
                        {% if session['role'] is defined %}
                            <input type="hidden" name="csrf" value="{{ csrf }}">
                            <a href="index.php?method=addComment&controller=CommentController&postId={{ post.id }}"
                               type="submit" class="btn btn-primary">Commenter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
