{% extends 'layout/layout.twig' %}
{% block content %}
    {% if errorMessage is defined %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{ errorMessage }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="container">
        <h2 class="mt-5">Modifier l'article</h2>
        <form method="POST" action="index.php?method=update&controller=PostController&postId={{ post.id }}">
            <div class="form-group">
                <label for="title">Titre de l'article :</label>
                <textarea class="form-control" id="title" name="title">{{ post.title }}</textarea>
            </div>
            <div class="form-group">
                <label for="intro">Chapô</label>
                <textarea class="form-control" id="intro" name="intro">{{ post.intro }}</textarea>
            </div>
            <div class="form-group">
                <label for="content">Contenu de l'article :</label>
                <textarea class="form-control" id="content" name="content">{{ post.content }}</textarea>
            </div>
            <div class="form-group">
                <label for="author">Auteur</label>
                <textarea class="form-control" id="author" name="author">{{ post.author }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        </form>
    </div>
{% endblock %}
